name: Build and Publish Docker Image

on:
  push:
    branches:
      - master
      - dev
    paths:
      - Dockerfile
  workflow_dispatch: {}
  schedule:
    - cron: "0 3 1 * *" # Every month on the 1st at 03:00 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    name: Build and Push to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/resume-latex
          tags: |
            # Si es master -> latest
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/master' }}
            # Si es dev -> beta
            type=raw,value=beta,enable=${{ github.ref == 'refs/heads/dev' }}
            # Siempre genera un tag único sha-123456 para poder volver atrás
            type=sha,prefix=sha-
          labels: |
            org.opencontainers.image.title=Resume LaTeX Builder
            org.opencontainers.image.description=LaTeX compilation environment for resume generation
            org.opencontainers.image.vendor=${{ github.repository_owner }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
